<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}"></title>
</head>
<body>
<div>
    <a href="javascript:history.back()">돌아가기</a>
    <form name="삭제" method="post" th:action="@{'/post/' + ${post.id}}">
        <input type="hidden" name="_method" value="DELETE">
        <button>삭제하기</button>
    </form>
    <form name="수정" method="get" th:action="@{'/post/update/' + ${post.id}}">
        <button>수정하기</button>
    </form>
</div>
<h3 th:text="${post.title}"></h3>
<div th:text="${post.contents}"></div>
<img th:if="${post.imagePath} != null" th:src="@{'/image/' + ${post.imagePath}}" style="height: 300px"/>
<div id="video-viewer">
    <video type="video/mp4" controls th:if="${post.videoPath} != null" th:src="@{'/video/' + ${post.videoPath}}"
           style="height: 300px"></video>
</div>
</body>
</html>